.container {
  border: none;
  outline: none;
  background: transparent;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: backgrround-color 150ms;
  position: relative;
}
.container:hover {
  background-color: hsl(224, 100%, 60%);
}

.container.active {
  background-color: hsl(224, 100%, 62%);
}

.container::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 2px;
  background: hsl(224, 100%, 46%);
}

.container:last-child::after {
  display: none;
}
